/*==================================================================================
  FONT
==================================================================================*/

@font-face {
  font-family: "LL Circular Pro Bold Web";
  src: url("./../fonts/bold/lineto-circular-pro-bold.eot");
  src: url("./../fonts/bold/lineto-circular-pro-bold.eot?#iefix")
      format("embedded-opentype"),
    url("./../fonts/bold/lineto-circular-pro-bold.woff2") format("woff2"),
    url("./../fonts/bold/lineto-circular-pro-bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "LL Circular Pro Book Web";
  src: url("./../fonts/book/lineto-circular-pro-book.eot");
  src: url("./../fonts/book/lineto-circular-pro-book.eot?#iefix")
      format("embedded-opentype"),
    url("./../fonts/book/lineto-circular-pro-book.woff2") format("woff2"),
    url("./../fonts/book/lineto-circular-pro-book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "LL Circular Pro Medium Web";
  src: url("./../fonts/medium/lineto-circular-pro-medium.eot");
  src: url("./../fonts/medium/lineto-circular-pro-medium.eot?#iefix")
      format("embedded-opentype"),
    url("./../fonts/medium/lineto-circular-pro-medium.woff2") format("woff2"),
    url("./../fonts/medium/lineto-circular-pro-medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
$text__fontname: "LL Circular Pro Book Web", sans-serif; // Light 300 ,Normal 400
$header__fontname: "LL Circular Pro Bold Web", sans-serif; // Normal 400, Medium 500, Bold 600
/*==================================================================================
  COLORS
==================================================================================*/
$color__text: #04141c;
$color__bright: #ffffff;
$color__main: #00a6d3;
$color__hover: #008bb2;
$color__grey: #778591;
$color__light-grey: #eaecee;
$color__warning: #a12027;
/*==================================================================================
  GENERAL
==================================================================================*/
html {
  color: $color__text;
  font-family: $text__fontname;
  // Make everything look a little nicer in webkit
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  font-weight: 400;
  scroll-behavior: smooth;
  @include respond-below(md) {
    font-size: 15px;
  }
  @include respond-below(sm) {
    font-size: 14px;
  }
}

/**
   * Generic Typography
   */

/**
   * Paragraphs, and various text elements.
   */
p,
li,
code,
pre,
ul,
li,
ol {
  color: $color__text;
  line-height: 20px;
}

em,
i,
q,
dfn {
  font-style: italic;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/**
   * Links
   */
a {
  text-decoration: none;
  font-size: 16px;
  color: $color__text;
  line-height: 19px;
  transition: 0.3s;
  @include respond-below(md) {
    font-size: 15px;
  }
  @include respond-below(sm) {
    font-size: 14px;
  }
  &:hover {
    // text-decoration: underline;
    color: $color__main;
  }
}

/*
   * Headings
   */

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  font-family: $header__fontname;
}

h1,
.h1 {
  font-size: 65px;
  line-height: 75px;
  @include respond-below(lg) {
    font-size: 55px;
    line-height: 65px;
  }
  @include respond-below(md) {
    font-size: 42px;
    line-height: 48px;
  }
}

h2,
.h2 {
  font-size: 27px;
  line-height: 36px;
}

h3,
.h3 {
  font-size: 21px;
  line-height: 30px;
  @include respond-below(md) {
    font-size: 18px;
  }
  @include respond-below(sm) {
    font-size: 16px;
  }
}

// Helper

.content-block {
  width: 90%;
  margin: auto;
  max-width: 1360px;
  &__small {
    width: 60%;
    margin: auto;
    @include respond-below(md) {
      width: 75%;
    }
    @include respond-below(sm) {
      width: 100%;
      padding: 0px 30px;
    }
  }
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.noscroll {
  overflow: hidden;
}

// button

.btn__wrapper {
  height: 100%;
}
.btn {
  min-width: 144px;
  padding: 0px 15px;
  min-height: 50px;
  background-color: $color__main;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 0px;
  border-radius: 5px;
  color: $color__bright;
  transition: 0.3s;
  &:hover {
    color: $color__bright;
    background-color: $color__hover;
  }
}
.btn-white {
  display: inline-block;
  padding: 10px 50px;
  color: #04141c !important;
  float: right;
  text-decoration: none;
  background-color: #fff;
  font-size: 14px;
  line-height: 21px;
  border-radius: 5px;
  transition: 0.8s;
}
.btn-white:hover {
  background-color: #2d95ef;
  color: #fff !important;
}

// section
.section {
  margin-bottom: 100px;
  @include respond-below(md) {
    margin-bottom: 50px;
  }
}

.blue-line {
  position: relative;
  margin-left: 15px;
  &::before {
    content: "";
    position: absolute;
    width: 4px;
    height: 100%;
    background-color: $color__main;
    left: -15px;
    top: 0px;
  }
}
.grey-line {
  margin: 20px 0px;
  width: 100%;
  height: 1px;
  background-color: $color__light-grey;
}

.green {
  color: #12da9f;
}

// animation
@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  25% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    // transform: scale(4.5);
    opacity: 0;
  }
}

// Field active
textarea:hover,
textarea:active,
textarea:focus,
select:focus,
select:active,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active,
input[type="tel"]:active,
input[type="tel"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus,
input[type="submit"]:hover,
input[type="date"]:active,
input[type="date"]:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="text"]:active,
input[type="text"]:focus,
input[type="search"],
input[type="search"]:focus,
input[type="file"]:focus,
input[type="file"]:active,
input[type="email"]:active,
input[type="email"]:focus,
input[type="password"]:active,
input[type="password"]:focus,
input[type="search"]:active {
  -webkit-appearance: none;
  outline: none !important;
  box-shadow: 0 0 2px 1px $color__main;
}
